{% extends "common/layout.html" %}

{% block content_heading %}
	<div class="twelve-col">
		<h1 class="page-title">
			{% if not selected_cat %}
				All books
			{% else %}
				{{ selected_cat }} books
			{% endif %}
		</h1>

		{% if categories %}
			<ul class="nav">
				<li>
					<a class="{{ 'active' if not selected_cat }}" href="/">All books</a>
				</li>
				{% for c in categories %}
				<li>
					<a class="{{ 'active' if c.name == selected_cat }}" href="/catalog/{{ c.slug }}/items">{{ c.name }}</a>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			No categories
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	{% if products %}
		<ul class="container">
			{% for p in products %}
			<li class="three-col">
				<a href="/catalog/{{ p.category.slug }}/{{ p.slug }}">
					<img src="http://placehold.it/260x300" alt="">
					<h2>{{ p.name }}</h2>
				</a>
				<p class="author">
					Author Name
					<span class="date">2015</span>
				</p>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		No products
	{% endif %}
{% endblock %}
