<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>
<body>
	{% include 'common/_flash-messages.html' %}
	<div id="signin-button">
		<span
			class="g-signin"
			data-scope="openid"
			data-clientid="138161459655-s92vdphdvvqqihrer737a4po9l7a30mv.apps.googleusercontent.com"
			data-redirecturi="postmessage"
			data-accesstype="offline"
			data-cookiepolicy="single_host_origin"
			data-callback="signInCallback"
			data-approvalprompt="force"
		>
		</span>
	</div>
	<div id="result"></div>

	<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				$('#signin-button').hide();
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{ state }}',
					processData: false,
					contentType: 'application/octet-stream; charset=utf-8',
					data: authResult['code'],
					success: function(result) {
						if (result) {
							$('#result').html('Login successful<br>' + result + '<br>Redirecting...');
							setTimeout(function() {
								window.location.href = '/';
							}, 4000);
						}
					}
				});
			} else if (authResult['error']) {
				console.error('there was error: ' + authResult['error']);
			} else {
				$('#result').html('Server call failed.');
			}
		}
	</script>
</body>
</html>