@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

.left {
	float: left !important;
}
.right {
	float: right !important;
}

.panel {
	@include span-columns(6);
	@include shift(3);
	background-color: $faint-gray;
	border-radius: 5px;
	padding: 4em;
}

.page-title {
	text-align: center;
}

.container {
	@include outer-container;
}
.twelve-col {
	@include span-columns(12);
}
.three-col {
	@include span-columns(3);
}

@import "nav";
@import "flashes";
@import "breadcrumbs";
@import "side-image";
@import "type-system";