{% extends "common/layout.html" %}

{% block content %}
	<a href="/catalog/create-product">New product</a>
	{% if categories %}
		<h1>categories</h1>
		<ul>
			{% for c in categories %}
			<li>
				<a href="/catalog/{{ c.slug }}/items">{{ c.name }}</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		No categories
	{% endif %}

	{% if products %}
		<h1>products</h1>
		<ul>
			{% for p in products %}
			<li>
				<h2><a href="/catalog/{{ p.category.slug }}/{{ p.slug }}">{{ p.name }}</a></h2>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		No products
	{% endif %}
{% endblock %}
