{% extends "common/layout.html" %}

{% block content %}
	{% from "common/_form-helpers.html" import render_field %}
	<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		{{ render_field(form.name) }}
		{{ render_field(form.subhead) }}
		{{ render_field(form.author) }}
		{{ render_field(form.year) }}
		{% if product and product.image_url %}
			Current image:<br>
			<img width="50" src="{{ product.image_url }}" alt="">
		{% endif %}
		{{ render_field(form.image) }}
		{{ render_field(form.description) }}
		{{ render_field(form.category) }}
		<input type="submit" value="Save">
	</form>
{% endblock %}
